<ion-view style="" class=" " id="page1" title="Dashboard">
    <ion-content class="has-header" padding="true">
        <form class="list " id="dashboard-form1">
            <ion-list class=" " id="dashboard-list1">
                <ion-item style="" class="  " id="dashboard-list-item1">Item 1</ion-item>
                <ion-item style="" class="  " id="dashboard-list-item2">Item 2</ion-item>
                <ion-item style="" class="  " id="dashboard-list-item3">Item 3</ion-item>
            </ion-list>
        </form>
        <a class=" button button-positive  button-block icon-left ion-document " style="border-radius:10px 10px 10px 10px;" id="dashboard-button1" ui-sref="createNewBill">Create New Bill</a>
    </ion-content>
</ion-view>