<ion-view style="" class=" " id="page3" title="Review Bill">
    <ion-content class="has-header" padding="true" ng-controller="reviewBillCtrl">
      <label class="item" name="" id="input10">
      	<span class="input-label" style="color: black; font-weight: 600;">Date: {{billItemsFromStorageToReview.header.date}}</span>
      </label>
      <label class="item" name="" id="input11">
        <span class="input-label" style="color: black; font-weight: 600;">M/S : {{billItemsFromStorageToReview.header.ms}}
        </span>
      </label>
    	<ion-list show-delete="true" can-swipe="true">
          <ion-item ng-repeat="i in billItemsFromStorageToReview.finalBillDetails">
            <span class="input-label" style="color: black; font-weight: 600;">
            Particular : {{i.particulars}}
               <br>Quantity : {{i.quantity}}<br>Amount : {{(i.amount).toFixed(2)}} </span> 
          </ion-item>            
          <ion-item>
            <span class="input-label" style="color: black; font-weight: 600;">
              Service Tax (14%) : {{(billItemsFromStorageToReview.totalAmount.total*0.14).toFixed(2)}}
            </span>
            <span class="input-label" style="color: black; font-weight: 600;">
              Swacha Bharat Abhiyan Tax (0.5%) : {{(billItemsFromStorageToReview.totalAmount.total*0.005).toFixed(2)}}
            </span>
            <span class="input-label" style="color: black; font-weight: 600;">
              Krish Kalyax (0.5%) : {{(billItemsFromStorageToReview.totalAmount.total*0.005).toFixed(2)}}
            </span>
            <span class="input-label" style="color: black; font-weight: 600;">
              Total : {{(billItemsFromStorageToReview.totalAmount.total+( billItemsFromStorageToReview.totalAmount.total*0.14)+
              (billItemsFromStorageToReview.totalAmount.total*0.005)+
              (billItemsFromStorageToReview.totalAmount.total*0.005)).toFixed(2)}}
            </span>
          </ion-item>
      </ion-list>
        <div ng-controller="addMoreBillItems as vm">
        	<button class=" button button-positive button-block " id="createInvoice-button4" style="border-radius:10px 10px 10px 10px;" ng-click="getStorageValue()">Create Invoice</button>          
        </div>
    </ion-content>
</ion-view>